--extra-index-url https://download.pytorch.org/whl/cu118
rp
torch 
torchvision
diffusers
einops
easydict
transformers
accelerate
numpy>=1.23.5,<2.5
sentencepiece
peft
opencv-contrib-python
imageio-ffmpeg
fire
moviepy
icecream
matplotlib
torchdiffeq
py3nvml
av
tiktoken
protobuf
